/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ RESET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* RESETS */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}
*, *:after, *:before{  
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {text-decoration:none;outline:none}
ul,ol,li {list-style:none}div,section {position:relative}
img,object,embed {max-width:100%}
img {display:block;height:auto}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
/* SELECTION */
::-moz-selection {
	background-color: #000;
	color: #FFF;
}
::selection {
	background-color: #000;
	color: #FFF;
}
/* INPUT */
input , textarea{
	font-family: inherit; border-radius: 0; border:none; box-shadow: none; outline: none;
}
/* BUTTON */
button { -webkit-appearance:none;-moz-appearance:none;position:relative;margin:0;display:block;width:100%;border:none;outline:0;background:none;cursor:pointer;padding:0;border-radius:0;font-family:inherit;}
button:active{ top:0;left:0}
button::-moz-focus-inner {border:0;padding:0;margin:0}
