@import "reset";
@import "fonts";
@import "mixin";
@import "grid";

/* COLORES */
$gris-oscuro : #1b1919;
$gris : #6e6e6e;
$texto : #424242;
$naranja: #ffbd11;
$azul: #0266C8;
$oro : #b0a47e;
$rojo: #F90101;
$amarillo: #A07743;
$verde: #00933B;

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ HTML / BODY / HACHES / WRAP / BOTON ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html , body { 
    width: 100%;
}
html                                    { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body                                    { font-family: 'Muli'; font-size: 1em; line-height:1; background: #FFF; -webkit-font-smoothing: antialiased;}
h1,h2,h3,h4,h5,h6                       { margin: 0; font-family: inherit; font-weight: 400; color: #202020;}

#wrap { 
  height: 100%; 
}

#precarga{
  #precarga-box{
    height: 300px; width: 300px; z-index: 2; text-indent: -9999px; left: 50%; top: 50%;  @include transform(translate(-50%,-50%)); overflow: hidden; background: #f0f0f0; border: 1px solid #FFF;
    #precarga-img{
       background: url('img/logo_boda_blanco.png'); background-size: contain; position: absolute; z-index: 5; top: 0; left: 0; width: 300px; height: 300px;
    }
    #precarga-liquid{
      background: $naranja; position: absolute; z-index: 5; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%; z-index: 3; @include transform(translate(0%,100%)); @include transition(top,0.25s,ease-out);
      @include animation(left_right,2s,infinite,ease-in-out,alternate,none,0);
    }
  }
}
@-ms-keyframes left_right { from { -ms-transform: rotate(-5deg) translate(-10px,100%); } to { -ms-transform: rotate(5deg) translate(10px,100%);}}
@-moz-keyframes left_right { from { -moz-transform: rotate(-5deg) translate(-10px,100%); } to { -moz-transform: rotate(5deg) translate(10px,100%);}}
@-webkit-keyframes left_right { from { -webkit-transform: rotate(-5deg) translate(-10px,100%); } to { -webkit-transform: rotate(5deg) translate(10px,100%);}}
@keyframes left_right { from { transform: rotate(-5deg) translate(-10px,100%); } to { transform: rotate(5deg) translate(10px,100%);}}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ GENERALES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bg-hero{
  position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; background: url('img/idioma/bg_hero.jpg'); background-size: cover;
}
.content-hero{
  position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;
}
.anima-section-relative{
  padding: 15em 0 0;
}
.clearfix{
  @include clearfix();
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ IDIOMAS SECTION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#idiomas-section{
  position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; @include animado(0.5s);
  .bg-hero{

  }
  .content-hero{
    > div{ position: absolute;}
    .matrimonio{
      width: 100%; height: 100%;
      .el{ position: absolute; bottom: -5em; left: -15em; }
      .ella{ position: absolute; left: auto; right: -4em; bottom: -5em; }
    }
    .logo{
      width: 396px; height: 408px; top: 50%; left: 50%; @include transformOrigin(50% 50%); @include transform(translate(-50%,-75%)); background: url('img/idioma/logo_boda_blanco.png'); background-size: contain;
      // @include animation(scale,200ms,1,$easeOutBack,normal,forwards,1s);

    }
    .botonera{
      width: 100%; height: 100%; z-index: 10;
      .btn-idioma{
        width: 323px; height: 236px; text-indent: -9999px; position: absolute; top: 50%; margin: 0 0 50px; cursor: pointer; z-index: 10;
        &.es{ background: url('img/idioma/bienvenidos_castellano.png'); right: 50%; @include transform(translate(-100%,-75%));}
        &.fr{ background: url('img/idioma/bienvenidos_frances.png'); left: 50%; @include transform(translate(100%,-75%));}
        button{
          position: absolute; top: 100%; left: 50%; @include transition(width,0.2s,$easeOutSine); @include transform(translate(-50%,0%)); width: 50%; height: 50px; line-height: 50px; color: #FFF; font-family: "Amatic SC"; background: $naranja; font-size: 2em; text-shadow: 0 2px 1px rgba(0,0,0,1);
        }
        &:hover{
          button{
            width: 54%; background: darken($naranja,10);             
          }
        }          
      }

    }
  }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ HEADER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#main-header{
  width: 100%; position: static; display: block;
  @media (min-width: 1100px) {
    position: absolute; top: 0; left: 0; z-index: 9;
  }
  h1{
    height: 200px; width: 200px; z-index: 2; text-indent: -9999px; background: url('img/logo_boda_amarillo.png'); background-size: contain; position: absolute; left: 50%;  @include transform(translate(-50%,0%));
    a{ display: block; height: 100%;}
  }
  nav{
    position: relative;
    @media (max-width: 1099px) {
      position: absolute; @include clearfix(); height: 100%; width: 320px; top: 0; left: 0; background: $naranja; padding: 2em; z-index: 10;
    }
    #btn-menu{

    }
    ul{
      padding: 1em 0 0;
      &:first-child{ padding: 0;}
      @media (min-width: 1100px) {
        &.left{ left: 50%; @include transform(translate(-100%,0%)); padding: 0 130px 0 0;}
        &.right{ right: 50%; @include transform(translate(100%,0%)); padding: 0 0 0 140px;}        
        position: absolute; display: inline-block;
      }
      li{
        position: relative; padding: 1em 0 0;
        &:first-child{
          padding: 0;
        }
        @media (min-width: 1100px) {
          margin: 5em 0 0 1.5em; padding: 0 0 0 1.5em; float: left;
          &:first-child,&.first-child{ margin: 5em 0 0 0; padding: 0; &:after{ display: none; } }
          &:after{
            content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 10px; margin: -5px 0 0; background: #000;
          }
        }
        >a{
          display: block; font-family: "Amatic SC"; color: #000; font-size: 1.5em;
          span{

          }
        }
      }
    }
  }
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ HOME ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#aside-nav{
  position: fixed; top: 50%; right: 4em; @include transform(translate(0,-50%)); z-index: 9;
  ul{
    li{
      position: relative; margin: 1em 0 0; @include bfv();
      &:first-child{ margin: 0;}
      p{ 
        opacity: 0; visibility: hidden; font-weight: 700; white-space: nowrap; position: absolute; right: 100%; top: 50%; @include transform(translate(-30px,-50%)); @include transition(all,0.3s,$easeOutSine); background: $naranja; color: #FFF; text-transform: uppercase; padding: 0.5em 1.25em; font-size: 0.75em;
        &:after{
          content: ""; @include picoRight(8px); background: $naranja;
        }
        
      }
      span{
        width: 12px; height: 12px; display: block; position: relative; z-index: 1; cursor: pointer;
        &:before, &:after{
          content:""; position: absolute; z-index: 2; width: 100%; height: 100%; position: absolute; top: 50%; left: 50%;
        }
        &:before{
          background: $gris; @include transform(translate(-50%,-50%)); border-radius: 50%; @include transition(box-shadow,0.125s,$easeOutSine);
        }
        &:after{
          @include transform(translate(-50%,-50%)); border-radius: 50%; box-shadow: 0 0 0 0px #FFF; @include transition(box-shadow,0.125s,$easeOutSine);
        }
      }
      &:hover,&.activo{
        p{
          opacity: 1; visibility: visible; @include transform(translate(-15px,-50%));
        }
        span{
          &:before{
            box-shadow: 0 0 0 6px $naranja inset;
          }
          &:after{
            box-shadow: 0 0 0 3px $gris;
          }          
        }
      }
    }
  }
}

#modal-testigo{
  position: fixed; right: 0; top: 0; width: 50%; max-width: 400px; height: 100%; @include transform(translate(100%,0)); @include transition(all,0.5s,$easeInOutSine); background: #FFF; z-index: 5000;
  &.activo{
    @include transform(translate(0%,0));
  }
  .modal-content{
    padding: 2em;
    .img-box{
      width: 100%; padding-bottom: 125%; background-size: contain !important; background: #000;
    } 
    .text-box{
      p{
        font-size: 0.7em; padding: 1em 0 0; max-width: 650px; margin: 0 auto; line-height: 2;
      }
    }
  }
  .icon-remove {
    cursor: pointer; display: block; z-index: 2; position: absolute; left: 0.25em; top: 0.25em; @include transform(scale(1)); @include transformOrigin(50% 50%); @include transition(all,$easeInOutSine,0.1s); @include bfv();
    font-size: 1em; border: 1px solid white; width: 22px; height: 22px; line-height: 20px; text-align: center; border-radius: 50%;
    &:hover {
      @include transform(scale(1.1));
    }
  }

}


#anima-section0{
  article{
    text-align: center; font-size: 1em; position: absolute; width: 100%; top:270px;
    h2{
      text-transform: uppercase; color: $naranja; font-size: 3.5em; position: relative; display: block; float: left; margin: 0 auto; left: 50%; @include transform(translate(-50%,0%));
      span{
        position: absolute; top: 0%; font-size: 2.5em; font-weight: 300; top: 50%; @include transform(translate(0%,-60%));
        &.left{ left: -0.5em;}
        &.right{ right: -0.5em;}
      }
    }
    h3{
      font-size: 2em; padding: 0.5em 0; clear: both;
    }
    h4{
      text-transform: uppercase; font-size: 1.25em; position: relative; display: block; float: left; margin: 0 auto; left: 50%; @include transform(translate(-50%,0%));
      &:after,&:before{
        content: ""; display: block; position: absolute; width: 40px; height: 2px; top: 50%; margin: -1px 0 0; background: $naranja;
      }
      &:after{ left: 110%; }
      &:before{ right: 110%; }
    }
    h5{
      clear: both; font-size: 1em; text-transform: uppercase; padding: 2em 0 0em;
    }
    p{
      font-size: 0.7em; padding: 1em 0 0; max-width: 650px; margin: 0 auto; line-height: 2;
    }
  }
  .btn-scroll-box{
    display: none; position: absolute; z-index: 2; bottom: 0; left: 50%; @include transform(translate(-50%,0)); width: 112px; height: 62px; background: #CCC; cursor: pointer;
    @media (min-height: 800px) {
      display: block;
    }
    &:before{
      content: ""; display: block; position: absolute; top: -6px; left: 0; width: 100%; height: 12px; border-radius: 50%; background: #CCC;
    }
    .text{
      z-index: 10; width: 256px; height: 77px; background: url(img/home/intro/texto_scroll.png); position: absolute; top: -200%; left: 50%; @include transform(translate(-50%,0));            
    }
    .arrow{
      @include animation(top_bottom,0.75s,infinite,$easeOutSine,alternate,normal,0); 
      z-index: 3; width: 113px; height: 70px; background: url(img/home/intro/flecha_scroll.png); position: absolute; top: -125%; left: 0;    
    }
    .hole{
      z-index: 4; width: 113px; height: 62px; background: url(img/home/intro/agujero_scroll.png); position: absolute; top: 0; left: 0;
      &:after{
        content: ""; position: absolute; top: 100%; height: 100%; width: 100%; left: 0; background: #FFF;
      }
    }
  }
}

.anima-section{
  overflow: hidden;
  .escenario{
    position: absolute; top: 50%; z-index: 2; width: 50%; @include transform(translate(0,-50%));
    @media (min-width: 1700px) {
      width: auto;
    }
    &.left{
      left: 0%;
      @media (min-width: 1700px) {
        left: 10%;
      }
    }    
    &.right{
      right: 0%;
      @media (min-width: 1700px) {
        right: 10%;
      }
    }
    img{
      // width: 80%; margin: 0 auto;
    }
  }
  .text{
    position: absolute; top: 50%; @include transform(translate(0px,-50%));
    &.left{
       left: 15%; width: 25%; text-align: right;
    }    
    &.right{
      right: 15%; width: 25%; text-align: left;
    }
    h2{
      font-family: "Amatic SC"; color: #000; font-size: 4em;
      span{ font-size: 0.5em; display: block;}
    }
    p{
      font-size: 0.7em; padding: 1em 0 0; max-width: 650px; margin: 0 auto; line-height: 2;
      a{ color: darken($naranja,15); font-weight: 700;}      
    }
  }
}



//MUDANZAS
#anima-section1{
  // background: #000;
  .farola{
    position: absolute; bottom: 0; right: 0; height: 100%;
  }
  .arbol{
    position: absolute; bottom: 0; left: 0; height: 100%; z-index: 2;
  }
  .hojas-box{
    position: absolute; width: 100%; height: 100%;
    li{
      position: absolute; top: 0;
      &.hoja1{
        left: 50%;
      }
      &.hoja2{
        left: 0;
      }
      &.hoja3{
        left: 20%; bottom: 0%; 
      }
    }
  }
}



//COLEGIO
#anima-section2{
  .avion{
    position: absolute; top: 0; left: 100%; width: 136px; height: 72px; z-index: 8;
  }
}



//MARRUECOS
#anima-section3{
  .ciudad-box{
    li{
      position: absolute; bottom: 0; width: 100%;
      img{ width: 100%;}
    }
  }
  .sol{
    width: 240px; height: 225px; position: absolute; top: 0; left: 0; @include transform(translate(-50%,0));
    // &.skrollable-after{ display: none;}
  }
}


//FUTBOL
#anima-section4{
  .balon{
    position: absolute; left: 200px; bottom: 0;
  }
  .bota{
   position: absolute; bottom: 0; left: 0;
  }
}



//LICEO
#anima-section5{
  .examenes-box{
    position: absolute; width: 100%; height: 100%; z-index: 1;
    li{
      position: absolute; top: 0;
      &.examenes1{
        left: 35%; top: 0%;
      }
      &.examenes2{
        left: 0; top: 15%;
      }
    }
  }
}

//CERVEZA
#anima-section6{
  .cerveza-box{
    position: absolute; width: 100%; height: 100%; left: -5%; z-index: 1;
    >div{
      position: absolute; bottom: 0; left: 0;
      &.vaso{
        z-index: 2;
      }
      &.cerveza{
        z-index: 1;
      }
    }
  }
}


// MEXICO
#anima-section7{
  .cactus{
    position: absolute; bottom: 0; right: -2.5%; z-index: 1;
  }
  .pelusa{
    position: absolute; bottom: 0; left: 0%; z-index: 2;
  }
}


// CAM
#anima-section8{

}


//SORBONA
#anima-section9{
  .sombreros-box{
    position: absolute; width: 100%; height: 100%; z-index: 1;
    li{
      position: absolute; top: 0;
      &.sombreros1{
        left: 20%; top: -10%;
      }
      &.sombreros2{
        left: 20%; top: 25%;
      }
    }
  }
}


// ACCENTURE
#anima-section10{
  .nubes-box{
    position: absolute; width: 100%; height: 100%; z-index: 1;
    li{
      position: absolute; top: 0;
      &.nubes1{
        left: 0%; top: 10%;
      }
      &.nubes2{
        left: 0; top: 0%;
      }
    }
  }
  .avion{
    position: absolute; top: 10%; left: 25%; z-index: 2;
  }
}


// MADRID
#anima-section11{

}


// CARAVANA
#anima-section12{

}

// FIESTA
#anima-section13{
  .left{
    left: 50%; @include transform(translate(-100%,0));
  }
  .right{
    right: 50%; @include transform(translate(100%,0)); z-index: 4;
  }
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ CONFIRMAR ASISTENCIA ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#confirmar-form{
  fieldset{
    padding: 2em 2em 0; margin: 2em 0 0; border-top: 1px solid #CCC;
    &:first-child{ padding: 0 2em; margin: 0; border-top: none;}
    >h3{
      text-transform: uppercase; padding: 0 0 0.5em; font-family: "Amatic SC"; color: #000; font-size: 3em;
    }
  }
  #asistentes-ul{
    @include row(4em);
    li{
      @include col(1,3,4em); padding-top: 1.5em;
      h3{
        padding: 0 0 0.5em; margin: 0 0 1em; text-transform: uppercase; font-size: 0.75em; border-bottom: 1px solid #CCC;
      }
      label{ padding: 0;}
    }
  }
  #form-submit{
    width: 250px; font-size: 2em;
  }
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ TESTIGOS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#testigos-section{
  .row{
    @include row(2em);
    >li{
      @include col(1,3,2em);
      article{
        img{ margin: 0 auto;}
        .content{
          text-align: center; max-width: 300px; margin: 0 auto; line-height: 1.5; font-size: 0.875em;
          p{
            padding: 0.5em 0 0;
            &:first-child{ padding: 0;}
          }
        }
      }
    }
  }
}





/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ INPUTS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.boton{
  height: 50px; line-height: 50px; color: #FFF; font-family: "Amatic SC"; background: $naranja; font-size: 2em; border-radius: 0px; text-shadow: 0 2px 1px rgba(0,0,0,1); padding: 0;  
  &:hover{
    background: darken($naranja,10);             
  }          
}

.n-input{
  display: block; overflow: hidden; clear: both; padding: 1.5em 0 0;
  &.max{
    max-width: 400px;
  }
  &:first-child{ padding: 0}
  span{
    color: #666; padding: 0 0 0.25rem; display: block; font-size: 0.75em;
  }
  input{
    border: 1px solid #CCC; display: block; width: 100%; padding: 0.5em 1em; border-radius: 0px; margin: 0; font-size: 0.75em;
  }
  &.error{
    input{ border: 1px solid darken(#F00, 10%);}
  }
}
.t-input{
  display: block; overflow: hidden; clear: both; padding: 0 0 1.5em;
  span{
    color: #666; padding: 0 0 0.25rem; display: block; font-size: 0.75em;
  }
  textarea{
    border: 1px solid #CCC; display: block; width: 100%; padding: 1em; border-radius: 0px; margin: 0; min-height: 10em; font-size: 0.75em; max-width: 100%;
  }
  &.error{
    textarea{ border: 1px solid darken(#F00, 10%);}
  }
}
.checkContainer {
  position: relative; overflow: hidden; display: block; padding: 0.5em 0 0; @include clearfix(); @include no-select();
  .name { 
    color: #666; cursor: pointer; font-size: 0.75em; line-height: 22px; padding: 0 0 0 30px;
  }
  input[type=checkbox] {
    position: absolute; top: -9999px; left: -9999px; visibility: hidden; opacity: 0; 
  }
  input[type=checkbox] + label {
    font-size: 1em; position: relative; padding: 0 0 0 60px; cursor: pointer; line-height: 60px;
    .checkSquare {
      width: 20px; height: 20px; position: absolute; background: #FFF; top: 0%; left: 0px; border: 1px solid #CCC;
      > span {
        display: none; width: 20px; height: 20px; top: 0;
        &:before{
          content: "\e600"; font-family: 'icomoon'; color: #666; width: 100%; height: 100%; line-height: 20px; margin: -1px; display: block; text-align: center; font-size: 0.875em;
        }
      }
    }
  }
  &.error{
    input[type=checkbox] + label .checkSquare{
      border-color: darken(#F00, 10%);
    }
  }
  input[type=checkbox]:checked + label .checkSquare > span {
    display: block; 
  }
  &.threecol{
    @include col(1,3,2em);
  }
}





/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ MODAL ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#modal-overlay {
  position: fixed; z-index: 4999; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.25); opacity: 0; visibility: hidden; @include animado(0.25s);
  &.activo {
    visibility: visible; opacity: 1; 
  }
}


#modal {
  position: fixed; font-size: 1em; z-index: 5000; top: 50%; left: 50%; visibility: hidden; opacity: 0; width: 270px; color: #FFf; background: $naranja; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); line-height: 1.5; @include animado(0.25s); @include transform(translate(-50%, -30%));
  @media (min-width: 500px) {
    width: 356px; font-size: 1.5em; 
  }
  &.activo {
    visibility: visible; opacity: 1; @include transform(translate(-50%, -30%));
  }
  .modal-content {
    padding: 1.5em; font-size: 0.75em; 
    h2{ color: #000; font-size: 2em; font-family: "Amatic SC";}
    h3{ color: #000; font-size: 0.875em;}
    ul{
      li{
        padding: 0em 0 0 1em; margin: 0.5em 0 0; color: #000; font-size: 0.75em; position: relative;
        &:before{
          content: ""; width: 4px; height: 4px; background: #000; position: absolute; top: 50%; left: 2px; margin: -2px 0 0; border-radius: 50%;
        }
        strong{ font-weight: 700;}
      }
    }
    p{
      padding: 0.5em 0 0; color: #000; font-size: 0.75em;
      &:first-child{ padding: 0;}
      strong{ font-weight: 700;}
    }
  }
  .icon-remove {
    cursor: pointer; display: block; z-index: 2; position: absolute; right: 0.25em; top: 0.25em; @include transform(scale(1)); @include transformOrigin(50% 50%); @include transition(all,$easeOutBack,0.1s); @include bfv();
    font-size: 0.6em; border: 1px solid white; width: 22px; height: 22px; line-height: 20px; text-align: center; border-radius: 50%;
    &:hover {
      @include transform(scale(1.1));
    }
  }
}

table{
  width: 100%; border-collapse: collapse; margin: 3em 0 0; font-size: 0.875em;
  @media (min-width: 700px) {
    margin: 0em; font-size: 0.875em;
  }
  thead{ border-bottom: 2px solid $gris;}
  tr{
    border-top: 1px solid $gris;
    &:first-child{
      border-top: none; 
    }        
    th{ text-transform: uppercase;}
    td,th{
      color: $gris-oscuro; text-align: left;
      @media (min-width: 700px) {
        padding: 0.6em 0 0.5em;
      }
    }
  }
  @media (max-width: 699px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute; top: -9999px; left: -9999px;
    }
    
    tr { border-right: 1px solid #ccc; border-left: 1px solid #CCC;}
    
    td { 
      /* Behave  like a "row" */
      border: none; border-bottom: 1px solid #eee;  position: relative; padding-left: 50%; line-height: 1.8em;
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0px; left: 6px; width: 45%;  padding-right: 10px;  white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Nombre"; }
    td:nth-of-type(2):before { content: "Pre-boda"; }
    td:nth-of-type(3):before { content: "Post-boda"; }
  }
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ ANIMATE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++ ANIMATE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@-ms-keyframes top_bottom { from { -ms-transform: translate(0,25%); } to { -ms-transform: translate(0,0%);}}
@-moz-keyframes top_bottom { from { -moz-transform: translate(0,25%); } to { -moz-transform: translate(0,0%);}}
@-webkit-keyframes top_bottom { from { -webkit-transform: translate(0,25%); } to { -webkit-transform: translate(0,0%);}}
@keyframes top_bottom { from { transform: translate(0,25%); } to { transform: translate(0,0%);}}


@-ms-keyframes spin { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg);}}
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg);}}
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg);}}
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg);}}


@-ms-keyframes scale { from { -ms-transform: scale(0.8) translate(-50%,-75%); opacity: 0; } to { -ms-transform: scale(1) translate(-50%,-75%); opacity: 1;}}
@-moz-keyframes scale { from { -moz-transform: scale(0.8) translate(-50%,-75%); opacity: 0; } to { -moz-transform: scale(1) translate(-50%,-75%); opacity: 1;}}
@-webkit-keyframes scale { from { -webkit-transform: scale(0.8) translate(-50%,-75%); opacity: 0; } to { -webkit-transform: scale(1) translate(-50%,-75%); opacity: 1;}}
@keyframes scale { from { transform: scale(0.8) translate7(50%,-50%); opacity: 0; } to { transform: scale(1) translate(-50%,-75%); opacity: 1;}}


